.content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-weight: bold;
  background-color: black;
  color: white;
  overflow: hidden;
}

.background {
  display: none;
}

.pointer {
  cursor: pointer;
}

button {
  color: white;
  cursor: pointer;
}

.themes {
  width: 75%;
  margin: 0 auto 0 auto;
}

.themes button {
  margin: 0 2px 0 2px;
  font-weight: bold;
  font-size: 1.2rem;
  background-color: black;
  color: grey;
  border: 0;
}

.themes button:hover {
  color: white;
}

button.theme-selected {
  color: white;
}

.instructions div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px 40px 0 40px;
}

.instructions span {
  margin-right: 10px;
  font-size: 2.2rem;
}

.instructions p {
  margin: 10px 0 0 0;
  display: inline;
}

.title-page {
  width: 400px;
}

.title {
  font-size: 3.5rem;
  line-height: 3.5rem;
  margin-bottom: 20px;
}

.title-overlay {
  display: none;
}

.by,
.date,
.or-win,
.or-lose {
  font-size: 1.25rem;
  margin-bottom: 5px;
}

.date {
  margin-bottom: 30px;
}

.instructions {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.instructions-win,
.instructions-lose {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.or-win,
.or-lose {
  margin-bottom: 30px;
}

.instructions-metal,
.instructions-wood {
  font-size: 1.2rem;
}

.name,
.instructions-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.tap-me {
  font-size: 2rem;
  margin-bottom: 30px;
}

.theme-title {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.game-page {
  opacity: 1;
}

.game-page .title {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.game-page .count {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 35px;
}

.board {
  background-color: black;
  display: grid;
  grid-template-columns: repeat(7, 40px);
  justify-content: center;
  width: 298px;
  padding: 3px;
  gap: 3px;
  margin-bottom: 40px;
  outline: 4px solid grey;
  cursor: not-allowed;
}

.cell {
  width: 40px;
  height: 40px;
  background-color: transparent;
  color: transparent;
  border: 0;
  padding: 0;
  margin: 0;
  cursor: not-allowed;
}

.cell span {
  font-size: 3.1rem;
  padding: 0;
  margin: -5px 0 0 -5px;
}

.wood,
.metal {
  color: grey;
}

.top,
.selected {
  color: white;
  cursor: pointer;
}

.target {
  border: 4px dashed white;
  outline-offset: 1px;
  border-radius: 3px;
  cursor: pointer;
}

.requested {
  outline: 4px dashed white;
}

.footer button {
  background-color: transparent;
  border: 0;
  font-size: 1.5rem;
  padding-top: 1px;
  margin: 0 8px 0 8px;
  cursor: pointer;
  text-shadow: 5px 5px 100px black;
}
