@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-out {
  opacity: 1;
  animation: fade-out 0.5s ease-in forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fade-in 0.5s ease-in forwards;
}

@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes spin-out {
  from {
    transform: rotate(0deg) scale(1);
  }
  to {
    transform: rotate(360deg) scale(0);
  }
}

.spin-out {
  animation: spin-out 0.25s ease-in forwards;
}

.theme-toon,
.theme-toon button {
  text-shadow: 3px 3px 0px black, 6px 6px 0 black;
}

.theme-toon .title {
  color: #ffff99;
}

.theme-toon .tap-me {
  color: #99ff99;
}
